.flex {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.744);
}

.space{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.foodLink {
  display: flex;
}
.hidden{
  overflow: hidden;
}

.foodLink img{
  border-style: none;
  height: 200px;
  width: 160px;
}

.menu{
  overflow:hidden;
}

.broder{
  border-bottom: 2px solid  rgba(128, 128, 128, 0.781);
  margin-bottom: 10px;
}

.menu-row{
  display: flex;               
  gap: 40px; 

}

.img{
  position: relative;
  border-radius: 10% ;
  height: 180px;
  width: 18rem;
 
}



.img img{
  height: 180px;
  width: 18rem;
  border-radius: 10%;
  object-fit: cover;
  
  
}
.img:hover{
  scale: 1.09;
  border-radius: 10px;
}

.gradent{
  position: absolute;
  border-radius: 10% ;
  top: 0;
  background: linear-gradient(to bottom, rgba(25, 0, 0, 0), rgba(0, 0, 0, 0.801));
  height:100%;
  width: 100%;
}

.sale{
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

.remaing{
  height: 100px;
  width: 200px;
  background-color: red;
  color: white;
}

.online{
  display:flex;
  flex-wrap: wrap;
  gap: 40px;
  /* justify-content: center; */
 
}
.abc{
  position: relative;
  height: 180px;
  width: 18rem;
  overflow: hidden;
  border-radius: 10%;
  
}

.abc img{
  scale: 1.09;
}

.again{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgba(25, 0, 0, 0), rgba(0, 0, 0, 0.801));
  border-radius: 10% ;

}

.online img{
  height: 180px;
  width: 18rem;
  object-fit: cover;
  border-radius: 10%;
}

/* .itemName{
 overflow: hidden;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 1;
} */

.detele{
  height: 180px;
  width: 18rem;
}

img:hover{
  scale: 1.09;
}



/*cart*/
.abc {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.abc img {
opacity: 1.09;
}

.add-to-cart {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Adjust size */
  border-radius: 5px; /* Rounded corners */
  font-size: 1.2rem; /* Larger text size */
  font-weight: bold;
  cursor: pointer;
  z-index: 10; /* Ensure it's above the image */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}

.abc:hover .add-to-cart {
  opacity: 1; /* Button becomes visible on hover */
}

.add-to-cart:hover {
  background-color: #ff3b2f; /* Change color on hover */
  transition: background-color 0.3s ease;
}
